@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #BFD83E;
  --background-color: rgb(26, 26, 26);
  --text-color: #ffffff;
  --card-background: rgba(95, 90, 90, 0.1);
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
  font-family: 'Inter', sans-serif;
}

@layer components {
  .card {
    @apply bg-[rgba(255,255,255,0.1)] rounded-xl p-6 transition-all duration-300 hover:transform hover:-translate-y-1;
  }

  .icon-circle {
    @apply w-16 h-16 rounded-full border-2 border-primary flex items-center justify-center mb-4;
  }
}
